In [3]:
# Dependencies and Setup
import numpy as np
import pandas as pd

# Load data, read data files, and store in Pandas df
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

school_data_df = pd.DataFrame(school_data)

# Combine into single dataset
school_data_complete_df = pd.merge(student_data, school_data_df, how="left", on=["school_name", "school_name"])

print(school_data_complete_df)

       Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[39170 rows x 11 columns]

In [40]:
# Total number of schools, students, and budget

total_schools = school_data_df["school_name"].count()
total_students = school_data_df["size"].sum()
total_budget = school_data_df["budget"].sum()

# Average math score and reading score
avg_math_score = school_data_complete_df["math_score"].mean()
avg_reading_score = school_data_complete_df["reading_score"].mean()

# Percentage of students who passed math, reading, and both
passingmath = school_data_complete_df.query('math_score >70')["School ID"].count()/total_students*100
passingreading = school_data_complete_df.query('reading_score >70')["School ID"].count()/total_students*100
overallpassing = (avg_math_score + avg_reading_score)/2


DistrictSummary_df = {"Total Schools":[total_schools], "Total Students":[total_students], "Total Budget":[total_budget], 
                      "Average Math Score":[avg_math_score], "Average Reading Score":[avg_reading_score], 
                      "% Passing Math":[passingmath], "% Passing Reading":[passingreading], 
                      "% Overall Passing":[overallpassing]}


DistrictSummary_df = pd.DataFrame(DistrictSummary_df)
DistrictSummary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,72.392137,82.971662,80.431606

In [109]:
# Combine into single dataset
school_data_complete_df = pd.merge(student_data, school_data_df, how="left", on=["school_name", "school_name"])

KeyError: 'school_type'

In [89]:
# School Summary

# Group school_data_complete_df by school_name
grouped_school_data_complete_df = school_data_complete_df.groupby("school_name")

# Summary calculations
school_type = school_data_complete_df["type"]
total_students = school_data_complete_df["size"].sum()
total_budget = school_data_complete_df["budget"].sum()
per_student_budget = school_data_complete_df["budget"]/school_data_complete_df["size"]
avg_math_score = school_data_complete_df ["math_score"].mean()
avg_reading_score = school_data_complete_df["reading_score"].mean()
passingmath = school_data_complete_df.query('math_score >70')["School ID"].count()/total_students*100
passingreading = school_data_complete_df.query('reading_score >70')["School ID"].count()/total_students*100
overallpassing = (avg_math_score + avg_reading_score)/2


grouped_school_data_complete_df = pd.DataFrame(grouped_school_data_complete_df)
grouped_school_data_complete_df

                        0                                                  1
0      Bailey High School         Student ID         student_name gender ...
1     Cabrera High School         Student ID    student_name gender grade...
2    Figueroa High School        Student ID     student_name gender grade...
3        Ford High School         Student ID     student_name gender grad...
4     Griffin High School         Student ID       student_name gender gr...
5   Hernandez High School         Student ID       student_name gender gr...
6      Holden High School         Student ID       student_name gender gr...
7       Huang High School        Student ID       student_name gender gra...
8     Johnson High School         Student ID     student_name gender grad...
9        Pena High School         Student ID        student_name gender g...
10  Rodriguez High School         Student ID       student_name gender gr...
11    Shelton High School        Student ID      student_name gender grad...
12     Thomas High School         Student ID     student_name gender grad...
13     Wilson High School         Student ID       student_name gender gr...
14     Wright High School         Student ID       student_name gender gr...

In [ ]:
# Combine into single dataset
school_data_complete_df = pd.merge(student_data, school_data_df, how="left", on=["school_name", "school_name"])

In [98]:
grouped_school_data_complete_df = pd.DataFrame(columns = {"School Type": grouped_school_data_complete_df["school_type"], 
                                                "Total Students": grouped_school_data_complete_df["total_students"],
                                                "Total School Budget": grouped_school_data_complete_df["total_budget"],
                                                "Per Student Budget": grouped_school_data_complete_df["per_student_budget"],
                                                "Average Math Score": grouped_school_data_complete_df["avg_math_score"], 
                                                "Average Reading Score": grouped_school_data_complete_df["avg_reading_score"], 
                                                "Percentage Passing Math": grouped_school_data_complete_df["passingmath"], 
                                                "Percentage Passing Reading":grouped_school_data_complete_df["passingreading"], 
                                                "Percentage Overall Passing": grouped_school_data_complete_df["overallpassing"]})

grouped_school_data_complete_df = pd.DataFrame(grouped_school_data_complete_df, columns = {"School Type",
                                                                   "Total Students", 
                                                                   "Total School Budget", 
                                                                   "Per Student Budget",
                                                                   "Average Math Score",
                                                                   "Average Reading Score", 
                                                                   "Percentage Passing Math", 
                                                                   "Percentage Passing Reading",
                                                                   "Percentage Overall Passing"}

grouped_school_data_complete_df

TypeError: unhashable type: 'set'

In [97]:
#Group school_data_complete_df by school_name
grouped_school_data_complete_df = school_data_complete_df.groupby("school_name")

print(grouped_school_data_complete_df)
grouped_school_data_complete_df.count().head



# Calculations
school_type = school_data_complete_df["type"]

total_students = school_data_complete_df["size"].sum()

total_budget = school_data_complete_df["budget"].sum()

per_student_budget = school_data_complete_df["budget"]/school_data_complete_df["size"]

avg_math_score = school_data_complete_df ["math_score"].mean()

avg_reading_score = school_data_complete_df["reading_score"].mean()

passingmath = school_data_complete_df.query('math_score >70')["School ID"].count()/total_students*100

passingreading = school_data_complete_df.query('reading_score >70')["School ID"].count()/total_students*100

overallpassing = (avg_math_score + avg_reading_score)/2

school_data_complete_df = pd.DataFrame({"School Type": school_data_complete_df["school_type"], 
                                        "Total Students": school_data_complete_df["total_students"],
                                        "Total School Budget": school_data_complete_df["total_budget"],
                                        "Per Student Budget": school_data_complete_df["per_student_budget"],
                                        "Average Math Score": school_data_complete_df["avg_math_score"], 
                                        "Average Reading Score": school_data_complete_df["avg_reading_score"], 
                                        "Percentage Passing Math": school_data_complete_df["passingmath"], 
                                        "Percentage Passing Reading": school_data_complete_df["passingreading"], 
                                        "Percentage Overall Passing": school_data_complete_df["overallpassing"]})

grouped_school_data_complete_df = grouped_school_data_complete_df[{"School Type",
                                                                   "Total Students", 
                                                                   "Total School Budget", 
                                                                   "Per Student Budget",
                                                                   "Average Math Score",
                                                                   "Average Reading Score", 
                                                                   "Percentage Passing Math", 
                                                                   "Percentage Passing Reading",
                                                                   "Percentage Overall Passing"}]

grouped_school_data_complete_df.head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001E02E9B2390>

<bound method NDFrame.head of                        Student ID  student_name  gender  grade  reading_score  \
school_name
Bailey High School           4976          4976    4976   4976           4976
Cabrera High School          1858          1858    1858   1858           1858
Figueroa High School         2949          2949    2949   2949           2949
Ford High School             2739          2739    2739   2739           2739
Griffin High School          1468          1468    1468   1468           1468
Hernandez High School        4635          4635    4635   4635           4635
Holden High School            427           427     427    427            427
Huang High School            2917          2917    2917   2917           2917
Johnson High School          4761          4761    4761   4761           4761
Pena High School              962           962     962    962            962
Rodriguez High School        3999          3999    3999   3999           3999
Shelton High School          1761          1761    1761   1761           1761
Thomas High School           1635          1635    1635   1635           1635
Wilson High School           2283          2283    2283   2283           2283
Wright High School           1800          1800    1800   1800           1800

                       math_score  School ID  type  size  budget
school_name
Bailey High School           4976       4976  4976  4976    4976
Cabrera High School          1858       1858  1858  1858    1858
Figueroa High School         2949       2949  2949  2949    2949
Ford High School             2739       2739  2739  2739    2739
Griffin High School          1468       1468  1468  1468    1468
Hernandez High School        4635       4635  4635  4635    4635
Holden High School            427        427   427   427     427
Huang High School            2917       2917  2917  2917    2917
Johnson High School          4761       4761  4761  4761    4761
Pena High School              962        962   962   962     962
Rodriguez High School        3999       3999  3999  3999    3999
Shelton High School          1761       1761  1761  1761    1761
Thomas High School           1635       1635  1635  1635    1635
Wilson High School           2283       2283  2283  2283    2283
Wright High School           1800       1800  1800  1800    1800  >

In [46]:
grouped_school_data_complete_df["size"].sum()

school_name
Bailey High School       24760576
Cabrera High School       3452164
Figueroa High School      8696601
Ford High School          7502121
Griffin High School       2155024
Hernandez High School    21483225
Holden High School         182329
Huang High School         8508889
Johnson High School      22667121
Pena High School           925444
Rodriguez High School    15992001
Shelton High School       3101121
Thomas High School        2673225
Wilson High School        5212089
Wright High School        3240000
Name: size, dtype: int64

In [50]:
grouped_school_data_complete_df["budget"].sum()

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64

In [ ]:
grouped_school_data_complete_df["budget"].sum()